:root {
  --dark-color: #21224A;
  --grey-color: #3e3e50;
  --light-color: #F0FAFA;
  --light-color2:rgb(213, 224, 224);
  --accent-color: #993333;
}

/*** Works on common browsers ***/
::selection {
  background-color: var(--grey-color);
  color: var(--light-color);
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: var(--grey-color);
  color: var(--light-color);
}

/***For Other Browsers ***/
::-o-selection {
  background-color: var(--grey-color);
  color: var(--light-color);
}

::-ms-selection {
  background-color: var(--grey-color);
  color: var(--light-color);
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: var(--grey-color);
  color: var(--light-color);
}

body {
  background-color: var(--light-color);
}
html {
  background-color: var(--light-color);
  transition: 0.6s;
}

a {
  color: var(--dark-color);
  transition: 0.6s;
}

a:hover, a:active {
  color: var(--accent-color);
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Playfair Display', 'Open Sans', "Avenir", Arial, Helvetica, sans-serif;
  color: var(--dark-color);
}

h2 {
  font-family: 'Open Sans', "Avenir", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--dark-color);
}

h3 {
  font-family: 'Open Sans', "Avenir", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: var(--dark-color);
}

h6 {
  font-family: 'Open Sans', "Avenir", Arial, Helvetica, sans-serif;
  color: var(--dark-color);
  font-weight: 400;
  font-size: 0.8rem;
}

p {
  font-family: 'Open Sans', "Avenir", Arial, Helvetica, sans-serif;
  color: var(--dark-color);
  font-weight: 100;
  font-size: 1rem;
}

.section {
  padding: 2% 10%;
}

.landing-page-title-container {
  text-align: left;
  margin-top: 0%;
}

.fixed-bottom-contact-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: var(--light-color);
}

.fixed-bottom-contact {
  position: relative;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* NAV BLOCK */
.navbar-container {
  text-align: center;
}

.nav-block {
  padding: 20px;
}

.nav-block:hover {
  background-color: var(--light-color2);
}

.nav-block:hover p, .nav-block:hover h6 {
  color: var(--accent-color);
}

.nav-line {
  font-size: 5rem;
}

@media (min-width:1200px) {
  .section {
    padding: 2% 20%;
  }
}

@media (min-width:800px) {
  .nav-block {
    display: inline-block;
    border-style: none;
  }

  /* .landing-page-title-container {
    text-align: right;
    margin-top: 30vh;
  } */

  .hide-mobile {
    display: inline-block !important;
  }

  .show-mobile {
    display: none !important;
  }
}

.hide-mobile {
  display: none;
}

.show-mobile {
  display: block;
}

@media (max-height: 700px) {
  .fixed-bottom-contact-container {
    position: relative;
  }
}

@media (min-height: 700px) {
  .landing-page-title-container {
    text-align: right;
    margin-top: 20vh;
  }
}

/* WEEKS SECTION */

.weeks-pg-header {
  position: relative;
}

.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}

.item {
  text-align: center;
}

/* WEEK NAV BAR */

.week-nav {
  transition: 0.3s;
}

.active-week:hover, .active-week:active {
  background-color: #21224A;
}

.active-week {
  background-color: var(--light-color2);
  border-radius: 3px;
  padding: 1px 3px;
}

.go-home-btn {
  position: relative;
  background-color: var(--light-color2);
  right: 5px;
  top: 5px;
}

.nav-link, .footer p {
  text-transform: uppercase;
  font-weight: 200;
  transition: 0.6s;
  font-size: 0.8rem;
}
.footer p, .footer a {
  color: rgba(0,0,0,.5);
}
.nav-link:hover, .nav-link:active, .footer a:hover, .footer a:active {
  color: var(--accent-color) !important;
}